/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $bg-primary;
  color: $txt-primary;
  @include font-base;
}

button{
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  &:hover {
    opacity: 0.5;
  }
}

.widget {
  position: relative;
  margin: 10vh auto;
  width: 90vw;
  min-width: 300px;
  min-height: 440px;
  border-radius: 15px;
  -webkit-box-shadow: 0 25px 25px rgba(0, 0, 0, 0.3);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.3);
  @media (min-width: $sm) {
    width: 40vw;
  }
  @media (min-width: $md) {
    max-width: 350px;
  }
}