/* VARIABLES */
/* colour scheme */
$bg-primary: #20202B;
$bg-secondary: #2D2D38;
$bg-tertiary: #22222B;
$txt-primary: #A3ACBE;
$txt-secondary: #FFFFFF;
$accent: #EEAE61;

/* media */
$sm: 500px;
$md: 740px;
$lg: 1200px;